.terraform/
terraform.tfstate.*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
__pycache__/
.pytest_cache/
*.pyc
.coverage
htmlcov/
*.db
instance/
.venv/
.env
*.log
__pycache__/
*.py[cod]
*$py.class
coverage.xml
