/* General */

body {
    font-family: Inter, Arial, sans-serif;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background: #2A4386;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #FFB211;
}



.layout {
    display: flex;
    min-height: 100vh;
}

/* Login Screen */

.login-title {
    text-align: center;
    color: #2A4386;
}

.login-form {
    max-width: 400px;
    margin: 20px auto 80px auto;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
}

.logo {
    display: block;
    width: 120px;
    height: auto;
    margin: 40px auto 10px auto;
}

.login-container {
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
}

#error {
	color: red;
	margin-top: 12px;
	text-align: center;
}

/* Home Screen */

h1 {
    color: #2A4386;
}

#debt-list {
    list-style-type: none;
}

#debt-list li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #2A4386;
}

.sidebar {
    width: 200px;
    background: #F8F8F8;
    color: #2a4385;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
}

.sidebar button,
.logout-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #374151;
    color: white;
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.sidebar button:hover,
.logout-button:hover {
    background: #4b5563;
}

.sidebar form {
    background: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-logo {
    display: block;
    width: 60px;
    height: auto;
    margin: 0 auto 12px auto;
}

.main-content {
    flex: 1;
    padding: 24px;
    background: #f3f4f6;
    font-size: 15px;
}

/* Form Screen */

form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}



