<!DOCTYPE html>
<html>
    <img src="/static/images/logo.png" alt="Technical Debt Tracker Logo" class="logo">
<head>
	<title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h2 class="login-title">Technical Debt Tracker</h2>

    <form id="loginForm" class="login-form">
        <input type="text" id="username" placeholder="Username" required />
        <br><br>
        <input type="password" id="password" placeholder="Password" required />
        <br><br>
        <button type="submit">Login</button>
    </form>

    <p id="error" style="color:red;"></p>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(e) {
            e.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const response = await fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ username, password })    
            });

            const data = await response.json();

            if (response.ok) {
                window.location.href = "/";
            } else {
                document.getElementById("error").innerText = data.message;
            }
        });
    </script>
</body>
</html>